.breadcrumb {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
}

.breadcrumb__item + .breadcrumb__item:before {
    content: '';
    display: block;
    width: 13px;
    height: 1px;
    margin: 2px 9px 0 12px;
    background-color: #cfcfcf;
}

@media (max-width: 600px) {
    .breadcrumb {
        overflow: auto;
        justify-content: flex-start;
        font-size: 12px;
        line-height: 19px;
        color: #999999;
        padding-bottom: 12px;
        margin-bottom: -12px;
    }

    .breadcrumb__item + .breadcrumb__item:before {
        width: 10px;
        margin: 2px 7px 0 8px;
    }

    .breadcrumb__item {
        flex-shrink: 0;
    }
}