.btn {
    display: inline-block;
    padding: 14px 23px;

    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;

    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.btn:hover {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
    color: #fff;
}

.btn-sm {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    padding: 9px 19px 11px;
}

.btn-border {
    background-color: #fff;
    color: var(--color-primary);
    border-color: var(--color-primary-opacity-35);
}

.btn-green {
    background-color: var(--color-green);
    border-color: var(--color-green);
}

.btn-green:hover {
    background-color: var(--color-green-dark);
    border-color: var(--color-green-dark);
}

@media(max-width: 768px) {
    .btn {
        font-size: 14px;
        padding: 10px 18px;
    }
}

@media(max-width: 575px)  {
    .btn {
        font-size: 14px;
        padding: 8px 13px;
        font-weight: 500;
    }
}