.call-back {
    display: flex;
    align-items: center;
}

.call-back__title {
    font-size: 15px;
    line-height: 18px;
}

.call-back__link {
    font-size: 13px;
    line-height: 19px;
    margin-left: 16px;
}