.cart {
    display: flex;
    align-items: center;
}

.cart__icon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart__counter {
    position: absolute;
    top: 2px;
    right: 1px;
    transform: translate(50%, -50%);
}