.catalog__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 32px;
}

.catalog__item {
    position: relative;
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 27px 27px 31px 27px;
    transition: box-shadow 0.2s, border-color 0.2s;
}

.catalog__item:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-color: #fff;
}

.catalog__item-img {
    display: block;
    padding-top: 101%;
    background-size: cover;
    background-position: center;
}

.catalog__item-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 15px;
    line-height: 22px;
    margin-top: 20px;
}

.catalog__item-info-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.catalog__item-info-item + .catalog__item-info-item {
    margin-left: 19px;
}

.catalog__item-availability {
    font-size: 13px;
    line-height: 18px;
    color: var(--color-green);
    display: flex;
    align-items: center;
}

.catalog__item-availability:before {
    content: '';
    border-radius: 50%;
    height: 6px;
    width: 6px;
    display: inline-block;
    background-color: var(--color-green);
    margin-right: 6px;
    margin-top: 1px;
}

.catalog__item-artikul {
    font-size: 13px;
    line-height: 18px;
    color: #999999;
}

.catalog__item-buy-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.catalog__item-price {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.catalog__item-discount-wrapper {
    display: flex;
    align-items: center;
    margin-top: -2px;
}

.catalog__item-price--discount {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #999999;
}

.catalog__item-discount-sticker {
    margin-left: 6px;
}

.catalog__item-sticker {
    position: absolute;
    left: 27px;
    top: 27px;
}

.catalog__item-actions {
    position: absolute;
    top: 27px;
    right: 27px;
}

.catalog__item-action {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #ECECEC;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.catalog__item-action:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.catalog__item-action svg * {
    transition: stroke 0.2s;
}

.catalog__item-action:hover svg * {
    stroke: #fff;
}

.catalog__item-action + .catalog__item-action {
    margin-top: 4px;
}

@media(max-width: 575px)  {
    .catalog__items {
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        grid-gap: 16px;
    }

    .catalog__item {
        padding: 16px;
    }

    .catalog__item-title {
        -webkit-line-clamp: 2;
        font-size: 14px;
        line-height: 21px;
        margin-top: 8px;
    }

    .catalog__item-buy-wrapper {
        margin-top: 12px;
        flex-direction: column;
        align-items: flex-start;
    }

    .catalog__item-price-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .catalog__item-price {
        font-size: 15px;
        line-height: 22px;
    }

    .catalog__item-buy-btn {
        margin-top: 4px;
    }

    .catalog__item-availability {
        font-size: 12px;
        line-height: 17px;
    }

    .catalog__item-artikul {
        font-size: 12px;
        line-height: 17px;
    }

    .catalog__item-price--discount {
        font-size: 12px;
        line-height: 17px;
    }

    .catalog__item-sticker {
        left: 16px;
        top: 16px;
    }

    .catalog__item-actions {
        right: 16px;
        top: 16px;
    }
}