:root {
    --color-primary: #3761E9;
    --color-primary-opacity-35: #3761e959;
    --color-primary-opacity-10: #3761e91a;

    --color-green: #57ad49;
    --color-red: #ED673C;
    --color-violet: #925AEC;
    --color-yellow: #FFD600;

    --color-primary-light: #5077f7;
    --color-green-dark: #329222;
    --color-yellow-dark: #FFD600;

    --color-border: #E5E5E5;

    --form-input-bg: #F8F8F8;
    --form-input-border: #DDDDDD;
    --form-input-border-focus: #ccc;
}

.bg-red {
    background-color: var(--color-red);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-violet {
    background-color: var(--color-violet);
}

.bg-yellow {
    background-color: var(--color-yellow);
}