.company__video {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    padding-top: 30%;
}

.company__video-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

.company__play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company__play-svg {
    margin-right: -5px;
}

@media(max-width: 768px)  {
    .company__play-btn {
        width: 75px;
        height: 75px;
    }
}

@media(max-width: 575px)  {
    .company__video {
        padding-top: 66%;
    }

    .company__play-btn {
        width: 50px;
        height: 50px;
    }

    .company__play-svg {
        margin-right: -4px;
        width: 20px;
        height: 20px;
    }
}