.dropdown-menu {
    position: relative;
}

.dropdown-menu:hover > .dropdown-menu__body {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu__body {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    transition-delay: 0.2s;

    position: absolute;
    top: 100%;
    left: -23px;

    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 23px 0 23px 24px;

    min-width: 220px;
    max-width: 300px;
}

.dropdown-menu--sm .dropdown-menu__body {
    left: -18px;
    padding: 18px 0 18px 19px;
    min-width: 200px;
    max-width: 280px;
}

.dropdown-menu__body--child {
    top: -23px;
    left: calc(100% + 23px);
}

.dropdown-menu__item {
    display: block;
    position: relative;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    font-weight: 400;
    padding-right: 23px;
}

.dropdown-menu--sm .dropdown-menu__item {
    font-size: 13px;
    line-height: 20px;
}

.dropdown-menu__item + .dropdown-menu__item {
    padding-top: 15px;
}

.dropdown-menu--sm .dropdown-menu__item + .dropdown-menu__item {
    padding-top: 10px;
}

.dropdown-menu:hover > .dropdown-menu__item {
    color: var(--color-primary);
}

.dropdown-menu__item-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
}

.dropdown-menu__item-icon * {
    transition: fill 0.2s;
}

.dropdown-menu:hover > .dropdown-menu__item .dropdown-menu__item-icon * {
    fill: var(--color-primary);
}