.footer--dark {
    background: #333333;
    color: #FFFFFF;
}

.footer--dark .color-dark {
    color: #999;
}

.footer--dark .footer__border-block {
    border-color: rgba(255, 255, 255, 0.1);
}

.footer--dark .footer__border-block-info {
    background: #333333;
}

.footer--dark .footer__menu-item {
    color: #999;
}

.footer--dark .footer__menu-item:hover {
    color: #fff;
}

.footer--dark .text-icon svg * {
    stroke: #fff;
}

.footer--dark a {
    color: #fff;
    transition: opacity 0.2s;
}

.footer--dark a:hover {
    opacity: 0.7;
}

.footer--dark .dropdown:after {
    background-image: url(../img/Header/dropdown-light.svg);
}

.footer--dark .social--squared .social__item {
    background: rgba(255, 255, 255, 0.1);
}

.footer--dark .social--squared .social__item-icon svg * {
    fill: #fff;
}

@media (max-width: 600px) {
    .footer--dark .footer__menu--dropdown .footer__menu-title:after {
        background-image: url("../img/Header/dropdown-light.svg");
    }
}