.footer {
    padding: 50px 0;
    background: #fafafa;
}

.footer__part--no-items {
    margin: 0;
}

.footer__part + .footer__part {
    margin-top: 40px;
}

.footer__part-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: -16px;
}

.footer__part-items--large {
    margin-left: -25px;
    margin-right: -25px;
}

.footer__part-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
}

.footer__part-item--large {
    padding-left: 25px;
    padding-right: 25px;
}

.footer__menus {
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-gap: 32px;
    overflow: hidden;
}

.footer__menu {
    display: flex;
    flex-direction: column;
}

.footer__menu-body {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}

.footer__menu-title {
    font-size: 15px;
    line-height: 20px;
}

.footer__menu-title + .footer__menu-title {
    margin-top: 22px;
}

.footer__menu .footer__menu-item {
    display: block;
    font-size: 13px;
    line-height: 20px;
    opacity: 1;
    transition: color 0.2s;
}

.footer__menu-item + .footer__menu-item {
    margin-top: 9px;
}

.footer__menu .footer__menu-item:hover {
    opacity: 1;
}

.footer .call-back__title {
    font-weight: 700;
}

.footer__border-block {
    padding: 60px 64px;
    width: 100%;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-radius: 4px;
    position: relative;
}

.footer__border-block-info {
    background: #fafafa;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 0 32px;
    z-index: 1;
}

@media (max-width: 1200px) {
    .footer__border-block {
        padding: 30px 32px;
    }

    .footer__menus {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 1024px) {
    .footer {
        padding: 40px 0;
    }

    .footer__part-items--large {
        margin-left: -16px;
        margin-right: -16px;
    }

    .footer__part-item--large {
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer__border-block {
        padding: 0;
        border: none;
    }

    .footer__border-block-info {
        position: relative;
        left: 0;
        transform: none;
        padding: 32px 0 0;
    }
}

@media (min-width: 601px) {
    .footer__menu-body {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 24px 0;
    }

    .footer__part + .footer__part {
        margin-top: 24px;
    }

    .footer__menus {
        grid-template-columns: none;
        grid-gap: 22px;
    }

    .footer__menu--dropdown .footer__menu-title {
        position: relative;
    }

    .footer__menu--dropdown .footer__menu-title:after {
        content: '';
        background-image: url("../img/Header/dropdown.svg");
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 4px;
        width: 5px;
        transition: transform 0.2s;
    }

    .footer__menu--dropdown.open .footer__menu-title:after {
        transform: translateY(-50%) rotate(180deg);
    }

    .footer__menu-body {
        display: none;
        margin-top: 14px;
    }

    .footer__menu-title {
        font-size: 14px;
        line-height: 18px;
    }

    .footer__menu .footer__menu-item {
        font-size: 12px;
        line-height: 18px;
    }

    .footer__part-items {
        margin: -8px;
    }

    .footer__part-items--large {
        margin-left: -8px;
        margin-right: -8px;
    }

    .footer__part-item {
        padding: 8px;
    }

    .footer__part-item--large {
        padding-left: 8px;
        padding-right: 8px;
    }

    .footer__border-block-info {
        padding: 24px 0 0;
    }
}