.form__body {
    max-width: 735px;
    margin: 0 auto;
}

.form__input-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 32px;
}

.form__input-row--center {
    grid-template-columns: none;
    justify-content: center;
}

.form__input-row + .form__input-row {
    margin-top: 18px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.form__input-wrapper--row {
    flex-direction: row;
    align-items: center;
}

.form__input {
    background: var(--form-input-bg);
    border: 1px solid var(--form-input-border);
    border-radius: 3px;
    font-size: 17px;
    padding: 13px;
    color: #333;
    transition: background-color 0.2s, border-color 0.2s;
}

.form__input:focus {
    outline: none;
    background-color: #fff;
    border-color: var(--form-input-border-focus);
}

.form__input[type=checkbox] {
    display: none;
}

.form__input--checkbox {
    background: var(--form-input-bg);
    border: 1px solid var(--form-input-border);
    border-radius: 3px;
    height: 17px;
    width: 17px;
    transition: background-color 0.2s, border-color 0.2s;
    flex-shrink: 0;
}

.form__input[type=checkbox]:checked + .form__input--checkbox {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.form__label {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    margin-bottom: 5px;
    cursor: pointer;
}

.form__input--checkbox + .form__label {
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: -1px;
}

.form__input[required] + .form__label:after {
    content: '*';
    color: var(--color-red);
}

textarea[data-resize="no"] {
    resize: none;
}

@media (max-width: 575px) {
    .form__input-row {
        grid-gap: 12px;
    }

    .form__input-row + .form__input-row {
        margin-top: 12px;
    }

    .form__label {
        font-size: 12px;
        line-height: 18px;
    }

    .form__input {
        font-size: 14px;
        padding: 10px;
    }
}