.header {
    /*position: sticky;*/
    /*top: 0;*/
    /*display: none;*/
    position: relative;
    z-index: 10;
    background-color: #fff;

    padding: 17px 0;
    border-bottom: 1px solid var(--color-border);
}

.header__part {
    display: flex;
    justify-content: space-between;
}

.header__part--main {
    padding: 12px 0;
}

.header__part + .header__part {
    padding-top: 31px;
}

.header__part-item {
    display: flex;
    align-items: center;
}

.header__part-item + .header__part-item {
    padding-left: 32px;
}

.header__part-item--large  + .header__part-item--large {
    padding-left: 50px;
}

.header__part-item--no-shrink {
    flex-shrink: 0;
}

@media (max-width: 1330px) {
    .header .text-icon {display: none;}
}

@media (max-width: 1200px) {
    .header__hide-middle {display: none;}
}

@media (max-width: 1023px) {
    .header__desktop {display: none;}
    .header__mobile {display: block;}
}

@media (min-width: 1024px) {
    .header__desktop {display: block;}
    .header__mobile {display: none;}
}

@media(max-width: 575px)  {
    .header__part-item--large + .header__part-item--large {
        padding-left: 32px;
    }
}

@media(max-width: 420px)  {
    .header__hide-small {
        display: none;
    }
}