.inner-page {
    padding: 40px 0 115px;
}

.inner-page__top-block {
    margin-bottom: 16px;
}

.inner-page__icons-item + .inner-page__icons-item {
    margin-left: 26px;
}

.inner-page__title {
    margin-top: 0;
    margin-bottom: 53px;
}

.inner-page__content-wrapper {
    display: flex;
}

.inner-page__side-block {
    margin-right: 48px;
    flex-shrink: 0;
}

.inner-page__content {
    flex: 1;
}

@media (max-width: 1199px) {
    .inner-page__top-block {
        margin-bottom: 8px;
    }

    .inner-page__title {
        margin-bottom: 32px;
    }

    .inner-page__side-block {
        margin-right: 32px;
    }
}

@media (max-width: 991px) {
    .inner-page {
        padding: 32px 0 85px;
    }

    .inner-page__title {
        margin-bottom: 28px;
    }

    .inner-page__side-block {
        display: none;
    }
}

@media (max-width: 600px) {
    .inner-page {
        padding: 20px 0 45px;
    }

    .inner-page__top-block {
        margin-bottom: 5px;
    }

    .inner-page__icons {
        margin-left: 16px;
    }

    .inner-page__icons-item + .inner-page__icons-item {
        margin-left: 16px;
    }

    .inner-page__title {
        margin-bottom: 20px;
    }
}