.login {
    display: flex;
    align-items: center;
}

.login__icon {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.login__icon-check {
    position: absolute;
    top: -2px;
    right: -4px;
}