* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
    cursor: pointer;
}

a:hover {
    color: var(--color-primary);
}

.link--light {
    color: var(--color-primary);
}

.link--light:hover {
    color: var(--color-primary-light);
}

.container {
    max-width: 1504px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

.title, h1, h2, h3 {
    font-weight: 700;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.font-sm {
    font-size: 13px;
    line-height: 20px;
}

.sticker {
    display: inline-block;
    border-radius: 3px;
    padding: 6px 8px 4px 9px;

    font-weight: 500;
    font-size: 10px;
    line-height: 13px;

    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.sticker--small {
    font-weight: 600;
    font-size: 11px;
    line-height: 10px;
    color: #333333;
    letter-spacing: normal;
    padding: 3px;
    border: 1px solid var(--color-yellow-dark);
}

.text-icon {
    margin-right: 14px;
}

.text-icon svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.address {
    display: flex;
    align-items: center;
}

.address__title {
    font-size: 13px;
    line-height: 15px;
    max-width: 310px;
}

.lang {
    display: flex;
    align-items: center;
}

.lang__title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
    padding-right: 11px;
}

.dropdown:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/Header/dropdown.svg);
    width: 5px;
    height: 4px;
}

.counter {
    border-radius: 50px;
    min-width: 15px;
    text-align: center;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    padding: 1px 5px;
    color: #FFFFFF;
}

.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.slogan {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    max-width: 250px;
}

.burger {
    cursor: pointer;
    padding: 8px;
    margin: -8px;
}

.burger svg * {
    transition: fill 0.2s;
}

.burger:hover svg * {
    fill: var(--color-primary);
}

.email {
    display: flex;
    align-items: center;
}

.email__title {
    font-size: 14px;
    line-height: 18px;
}

@media(max-width: 767px)  {
    .container {
        padding: 0 20px;
    }
}

@media(min-width: 576px)  {
    .visible-mobile {
        display: none;
    }
}

@media(max-width: 575px)  {
    .container {
        padding: 0 16px;
    }

    .hidden-mobile {
        display: none;
    }

    .sticker--small {
        font-size: 10px;
        line-height: 9px;
    }
}