.main-block {
    padding: 70px 0;
}

.main-block + .main-block {
    border-top: 1px solid #ececec;
}

.main-block__header {
    margin-bottom: 55px;
}

.main-block__header--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-block__header-parts {
    display: flex;
    width: 100%;
}

.main-block__header-left {
    margin-right: 21px;
    flex: 1;
}

.main-block__header-left-btn {
    margin-top: 29px;
}

.main-block__up-title {
    font-size: 13px;
    line-height: 27px;
    color: #999999;
    margin-bottom: 12px;
}

.main-block__up-title--uppercase {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.main-block__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-block__title {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
}

.main-block__header-right {
    flex: 2;
}

.main-block__link-all {
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 16px;
}

.main-block__description {
    font-size: 15px;
    line-height: 25px;
    color: #666666;
    margin-top: 23px;
    max-width: 60%;
}

.main-block__description--full {
    margin-top: 0;
    max-width: none;
}

.main-block__header-tizers {
    margin-top: 28px;
}

@media(max-width: 1024px) {
    .main-block__header-parts {
        flex-direction: column;
    }

    .main-block__title-wrapper--mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-block__header-left-btn {
        margin-top: 0;
    }

    .main-block__description {
        max-width: none;
    }

    .main-block__description--full {
        margin-top: 23px;
    }
}

@media(max-width: 768px)  {
    .main-block {
        padding: 40px 0;
    }

    .main-block__header {
        margin-bottom: 36px;
    }

    .main-block__header-left {
        margin-right: 0;
    }

    .main-block__title-wrapper--mobile .main-block__header-left-btn {
        margin-left: 16px;
    }

    .main-block__title {
        font-size: 32px;
        line-height: 40px;
    }
}

@media(max-width: 575px)  {
    .main-block {
        padding: 24px 0;
    }

    .main-block__header {
        margin-bottom: 24px;
    }

    .main-block__up-title {
        font-size: 12px;
        line-height: 23px;
        margin-bottom: 10px;
    }

    .main-block__up-title--uppercase {
        font-size: 10px;
        line-height: 15px;
    }

    .main-block__title {
        font-size: 24px;
        line-height: 30px;
    }

    .main-block__link-all {
        font-size: 13px;
        line-height: 18px;
        margin-top: 0;
    }

    .main-block__description {
        font-size: 13px;
        line-height: 23px;
        margin-top: 12px;
    }
}