.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    margin: 0 50px;
    /*overflow: hidden;*/
}

.menu__item {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.menu__item + .menu__item {
    margin-left: 32px;
}

.menu__item-dropdown {
    padding-bottom: 40px;
    margin-bottom: -40px;
}