.mobile-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1000;
}

.mobile-menu.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.3);
}

.mobile-menu__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 350px;
    width: calc(100vw - 10vw);
    background: #fff;

    display: flex;
    flex-direction: column;

    transform: translateX(-100%);
    transition: transform 0.2s;

    padding: 20px;
    overflow: auto;
}

.mobile-menu.active .mobile-menu__inner {
    transform: translateX(0);
}

.mobile-menu__inner-item + .mobile-menu__inner-item {
    padding-top: 24px;
    border-top: 1px solid var(--color-border);
}

.mobile-menu__header {
    padding-bottom: 24px;
}

.mobile-menu__body {
    flex: 1;
    overflow: auto;
    padding-bottom: 24px;
}

.mobile-menu__body-item + .mobile-menu__body-item {
    margin-top: 16px;
}

.mobile-menu__items {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.mobile-menu__item {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.mobile-menu__item + .mobile-menu__item {
    padding-top: 12px;
}

.mobile-menu__back-item {
    justify-content: flex-start;
    color: var(--color-primary-light);
}

.mobile-menu__back-item-icon {
    margin-left: 8px;
}

.mobile-menu__back-item-icon * {
    fill: var(--color-primary-light);
}

.mobile-menu__dropdown-body {
    transition: width 0.2s;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #fff;
}

.mobile-menu__dropdown.active .mobile-menu__dropdown-body {
    width: 100%;
}