@media(max-width: 575px)  {
    .mobile-slider {
        display: flex;
        overflow: auto;
        margin: 0 -16px -16px;
        padding: 0 16px 16px;
    }

    .mobile-slider__item {
        width: 240px;
        flex-shrink: 0;
    }
}