.news__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 32px;
}

.news__item {
    padding-top: 125%;
    position: relative;
    border-radius: 4px;
    transition: box-shadow 0.2s;
    overflow: hidden;
}

.news__item:hover {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.news__item:hover .news__item-image {
    transform: scale(1.2);
}

.news__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    background: linear-gradient(
            180deg
            , rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    opacity: 0.7;
}

.news__item-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.news__item-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.4s;
    transition-delay: 0.1s;
}

.news__item-title-wrapper {
    position: absolute;
    bottom: 34px;
    left: 40px;
    right: 40px;
    z-index: 1;
}

.news__item-date {
    font-size: 13px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 6px;
}

.news__item-title {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

@media(max-width: 575px)  {
    .news__items {
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        grid-gap: 16px;
    }

    .news__item.mobile-slider__item {
        height: 300px;
        padding-top: 0;
    }

    .news__item-title-wrapper {
        bottom: 15px;
        left: 20px;
        right: 20px;
    }

    .news__item-date {
        font-size: 12px;
        line-height: 26px;
        margin-bottom: 0px;
    }

    .news__item-title {
        font-size: 15px;
        line-height: 22px;
    }
}