.pay-systems {
    display: flex;
    align-items: center;
}

.pay-system__item {
    display: flex;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.2s;
}

.pay-system__item:hover {
    opacity: 1;
}

.pay-system__item + .pay-system__item {
    margin-left: 20px;
}