.popup {
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s, visibility 0.2s;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1000;
}

.popup.active {
    opacity: 1;
    visibility: visible;
}

.popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.3);
}

.popup__body {
    transform: translate(-50%, -100%);
    top: 0;
    transition: transform 0.4s, top 0.4s;

    position: absolute;
    left: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000061;
    border-radius: 8px;
    padding: 40px 64px;
    overflow: auto;
    max-height: calc(100vh - 64px);
    max-width: 1000px;
}

.popup.active .popup__body {
    top: 50%;
    transform: translate(-50%, -50%);
}