.region {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.region__title {
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    max-width: 200px;
    padding-bottom: 16px;
    margin-bottom: -16px;
}