.side-menu {
    position: sticky;
    top: 131px;

    width: 300px;

    border: 1px solid var(--color-border);
    border-radius: 4px;

    font-size: 15px;
    line-height: 25px;
}

.side-menu__item {
    display: block;
    position: relative;
    padding: 16px 20px 17px;
}

.side-menu__item + .side-menu__item {
    border-top: 1px solid var(--color-border);
}

.side-menu__item-link {
    position: relative;
}

.side-menu__item-link--active {
    font-weight: 600;
}

.side-menu__item-link--active:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -21px;
    transform: translateY(-50%);
    width: 3px;
    height: 10px;
    border-radius: 0px 2px 2px 0px;
    background-color: var(--color-primary);
}

.side-menu__item-arrow {
    padding: 7px 6px;
    margin-right: -2px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.side-menu__item-arrow:hover {
    background-color: var(--color-primary-opacity-10);
}

.side-menu__item-arrow svg {
    transition: transform 0.2s;
}

.side-menu__item-arrow.open svg {
    transform: rotate(180deg);
}

.side-menu__child {
    display: none;
    font-size: 14px;
    line-height: 21px;
    margin-top: 13px;
}

.side-menu__child--opened {
    display: block;
}

.side-menu__children {
    display: block;
}

.side-menu__children + .side-menu__children {
    margin-top: 7px;
}

.side-menu__children--active {
    font-weight: 600;
}

@media (max-width: 1199px) {
    .side-menu {
        width: 250px;
        font-size: 14px;
        line-height: 24px;
    }

    .side-menu__item {
        padding: 12px 16px 12px;
    }

    .side-menu__item-link--active:before {
        left: -17px;
    }

    .side-menu__child {
        font-size: 13px;
        line-height: 20px;
        margin-top: 10px;
    }

    .side-menu__children + .side-menu__children {
        margin-top: 6px;
    }
}