.small-tizers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 32px;
}

.small-tizers__tizer {
    display: flex;
}

.small-tizers__tizer-icon {
    margin-right: 29px;
    margin-top: 4px;
    width: 60px;
    height: 60px;
}

.small-tizers__tizer-title {
    font-size: 17px;
    line-height: 24px;
}

.small-tizers__tizer-description {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    margin-top: 9px;
}

@media(max-width: 575px)  {
    .small-tizers {
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        grid-gap: 16px;
    }

    .small-tizers__tizer-icon {
        margin-right: 16px;
        width: 40px;
        height: 40px;
    }

    .small-tizers__tizer-title {
        font-size: 15px;
        line-height: 22px;
    }

    .small-tizers__tizer-description {
        font-size: 12px;
        line-height: 19px;
        margin-top: 5px;
    }
}