.social {
    display: flex;
    align-items: center;
}

.social__item + .social__item {
    margin-left: 22px;
}

.social--squared .social__item + .social__item {
    margin-left: 7px;
}

.social__item {
    display: flex;
    cursor: pointer;
}

.social--squared .social__item {
    width: 39px;
    height: 39px;
    background: rgba(51, 51, 51, 0.1);
    border-radius: 4px;
    justify-content: center;
}

.social__item-icon {
    display: flex;
    align-items: center;
    opacity: 0.5;
    padding: 4px;
    margin: -4px;
    transition: opacity 0.2s;
}

.social--squared .social__item:hover .social__item-icon {
    opacity: 1;
}

.social__item-icon svg * {
    transition: fill 0.2s;
}

.social__item-icon:hover * {
    fill: var(--color-primary);
}

.social--squared .social__item-icon:hover * {
    fill: #333;
}

@media(max-width: 575px)  {
    .social--squared .social__item {
        width: 30px;
        height: 30px;
    }

    .social__item + .social__item {
        padding-left: 16px;
    }

    .social--squared .social__item + .social__item {
        padding-left: 0px;
    }

    .social__item-icon svg {
        height: 18px;
    }

    .social--squared .social__item-icon svg {
        height: 13px;
    }
}