.tizers__header {
    display: flex;
    justify-content: center;
}

@media(min-width: 1024px) {
    .tizers__title {
        font-size: 32px;
        line-height: 40px;
    }
}

@media(min-width: 769px) {
    .tizers__description {
        margin-top: 1px;
    }
}

.tizers__description {
    margin-left: 97px;
    max-width: 420px;
}

.tizers__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 32px;
}

.tizers__item {
    background: #EEEEEE;
    border-radius: 4px;
    padding: 40px 40px 32px;
}

.tizers__item-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.tizers__item-icon-img {
    max-width: 100%;
    max-height: 100%;
}

.tizers__item-title {
    font-size: 20px;
    line-height: 25px;
}

.tizers__item-description {
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
}

.tizers__btn {
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

@media(max-width: 768px)  {
    .tizers__header {
        flex-direction: column;
    }

    .tizers__description {
        margin-left: 0;
        max-width: none;
    }

    .tizers__btn {
        margin-top: 36px;
    }
}

@media(max-width: 575px)  {
    .tizers__items {
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        grid-gap: 16px;
    }

    .tizers__item {
        padding: 20px 20px 14px;
    }

    .tizers__item-title-wrapper {
        display: flex;
        align-items: center;
    }

    .tizers__item-icon {
        width: 32px;
        height: 32px;
        margin-bottom: 0;
        margin-right: 12px;
    }

    .tizers__item-title {
        font-size: 16px;
        line-height: 18px;
    }

    .tizers__item-description {
        font-size: 13px;
        line-height: 23px;
        margin-top: 8px;
    }

    .tizers__btn {
        margin-top: 24px;
    }
}