h1 {
    font-size: 42px;
    line-height: 52px;
}

h2 {
    font-size: 30px;
    line-height: 44px;
    margin: 0 0 13px;
}

h3 {
    font-size: 26px;
    line-height: 40px;
    margin: 0 0 15px;
}

p {
    margin: 0;
}

p + p {
    margin-top: 18px;
}

p + h2 {
    margin-top: 31px;
}

p + h3 {
    margin-top: 31px;
}

.text--large + p {
    margin-top: 33px;
}

.text, p {
    font-size: 15px;
    line-height: 25px;
    color: #666666;
}

.text--large {
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

.inner-page img {
    max-width: 100%;
    border-radius: 4px;
}

img + p {
    margin-top: 31px;
}

img + .text--large {
    margin-top: 49px;
}

@media (max-width: 1199px) {
    h1 {
        font-size: 36px;
        line-height: 46px;
    }

    h2 {
        font-size: 24px;
        line-height: 38px;
        margin: 0 0 10px;
    }

    h3 {
        font-size: 20px;
        line-height: 34px;
        margin: 0 0 10px;
    }

    img + .text--large {
        margin-top: 38px;
    }

    .text--large {
        font-size: 16px;
        line-height: 26px;
    }

    .text--large + p {
        margin-top: 26px;
    }

    .text, p {
        font-size: 14px;
        line-height: 24px;
    }

    p + h2 {
        margin-top: 24px;
    }

    p + h3 {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 34px;
        line-height: 44px;
    }

    h2 {
        font-size: 22px;
        line-height: 36px;
        margin: 0 0 10px;
    }

    h3 {
        font-size: 18px;
        line-height: 32px;
        margin: 0 0 10px;
    }

    img + .text--large {
        margin-top: 32px;
    }

    .text--large {
        font-size: 15px;
        line-height: 25px;
    }

    .text--large + p {
        margin-top: 24px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
        line-height: 32px;
    }

    h2 {
        font-size: 18px;
        line-height: 32px;
        margin: 0 0 6px;
    }

    h3 {
        font-size: 16px;
        line-height: 30px;
        margin: 0 0 6px;
    }

    img + .text--large {
        margin-top: 24px;
    }

    .text--large + p {
        margin-top: 22px;
    }

    p + p {
        margin-top: 16px;
    }

    p + h2 {
        margin-top: 22px;
    }

    p + h3 {
        margin-top: 18px;
    }

    .text--large {
        font-size: 14px;
        line-height: 24px;
    }

    .text, p {
        font-size: 13px;
        line-height: 23px;
    }
}