<form class="form" action="#">
  <div class="main-block__header main-block__header--center">
    <div class="main-block__up-title main-block__up-title--uppercase">
      Контакты
    </div>

    <h2 class="title main-block__title">
      Свяжитесь с нами
    </h2>

    <div class="main-block__description">
      ООО "Компания" — учрежденное одним или несколькими юридическими или
      физическими лицами хозяйственное общество.
      Участники общества не отвечают по его обязательствам
    </div>
  </div>

  <div class="form__body">
    <div class="form__input-row">
      <div class="form__input-wrapper">
        <input class="form__input" type="text" id="name" required>

        <label class="form__label" for="name">
          Ваше имя
        </label>
      </div>

      <div class="form__input-wrapper">
        <input class="form__input" type="text" id="phone" required>

        <label class="form__label" for="phone">
          Контактный телефон
        </label>
      </div>
    </div>

    <div class="form__input-row">
      <div class="form__input-wrapper">
        <textarea class="form__input" id="question" rows="3" required data-resize="no"></textarea>

        <label class="form__label" for="question">
          Ваш вопрос
        </label>
      </div>
    </div>

    <div class="form__input-row">
      <div class="form__input-wrapper form__input-wrapper--row">
        <input type="checkbox" class="form__input" id="licences">

        <span class="form__input--checkbox"></span>

        <label class="form__label" for="licences">
          Я согласен на обработку <a href="#" class="link--light">персональных данных</a>
        </label>
      </div>
    </div>

    <div class="form__input-row form__input-row--center">
      <button class="btn" type="submit">
        Регистрация
      </button>
    </div>
  </div>
</form>