@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9nhbvt');
  src:  url('fonts/icomoon.eot?9nhbvt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9nhbvt') format('truetype'),
    url('fonts/icomoon.woff?9nhbvt') format('woff'),
    url('fonts/icomoon.svg?9nhbvt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\74";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-bullhorn:before {
  content: "\e91a";
}
